<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://greendrive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>greendrive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>greendrive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$greendrive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GreenStore.Battery" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User ID=banyan@le9a6mksn4;Password=Green@19" Name="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GreenStore.Battery, GreenStore" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LocalGreenBox" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User ID=banyan@le9a6mksn4;Password=Green@19" Name="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=VOS\KALANJIYAM;Initial Catalog=GreenBox;User ID=CaptainPlanet;Password=GreenBox" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalGreenBox_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=VOS\KALANJIYAM;Initial Catalog=GreenBox;User Id=CaptainPlanet;Password=GreenBox;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GreenBoxDB" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User ID=banyan@le9a6mksn4;Password=Green@19" Name="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User ID=banyan@le9a6mksn4;Password=Green@19" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GreenBoxDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GreenBoxDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GreenStore.Battery-Web.config Connection String">
      <ParameterValue>Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalGreenBox-Web.config Connection String">
      <ParameterValue>Data Source=tcp:le9a6mksn4.database.windows.net,1433;Initial Catalog=GreenBox;User Id=banyan@le9a6mksn4;Password=Green@19</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GreenStore.Battery" />
  </ItemGroup>
</Project>